.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body {
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ', Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    overflow-x: hidden;
}

.container {
    width: 1080px;
    margin: auto;

    &:before, &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.slider-container-fluid {
    max-width: 100%;
    height: auto;
    position: relative;
    margin: auto;
    overflow: hidden;
        
    .slider-text {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
    }

    h1 {
        font-size: 60px;
    }

    p {
        font-size: 16px;
        line-height: 21px;
    }

    img {
        max-width: 100%;
        height: auto;
        width: auto\9;
    }
}

.slider-nav-container {
    max-width: 1080px;
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    .prev, .next {
        cursor: pointer;
        width: auto;
        color: white;
        font-weight: 400;
        font-size: 54px;
    }

    .next {
        float: right;
    }
}

.slider-pager-container {
    width: 100%;
    height: 16px;
    position: absolute;
    bottom: 36px;
    display: block;
    text-align: center;

    .dot {
        cursor: pointer;
        height: 16px;
        width: 16px;
        margin: 0 2px;
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: #e7ba2f;
    }
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.content {
    padding: 45px 0 0;
}

.main-content {
    float: left;
    width: 720px;
}

article {
    display: block;
    height: 116px;
    margin-bottom: 40px;
    
    &:hover h3 {
        color: #e7ba2f !important;
    }

    .article {
        a {
            color: #000;
        }

        &-thumb {
            float: left;
            height: 100%;
        }

        &-text {
            float: left;
            height: 100%;
            max-width: 482px;
            padding: 0 15px;

            span {
                font-size: 13px;
                color: #999;
            }

            h3 {
                margin: 10px 0 7px 0;
                font-size: 18px;
                color: #000;
            }

            p {
                margin: 0;
                font-size: 13px;
                color: #000;
                line-height: 18px;
            }
        }
    }

    img {
        max-width: 206px;
        height: 100%;
    }
}

.article-full-link {
    margin: auto;
    margin-bottom: 45px;
    height: 40px;
    width: 404px;
    text-align: center;

    .btn {
        display: inline-block;
        width: 100%;
        padding: 10px 0px;
        color: #fff;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 1px;
        background-color: #333;
        text-decoration: none;

        &:after {
            content: ">";
            float: right;
            margin-right: 15px;
        }
    }
}

aside {
    float: right;
    width: 310px;
    padding: 21px;
    background-color: #efefef;

    a {
        color: #000;
        text-decoration: none;

        &:last-child .banner-small {
            margin-bottom: 0;
        }
    }

    .banner-big {
        background-color: #fff;
        text-align: center;
        margin-bottom: 36px;
        padding: 140px 0 148px 0;
    }

    h2 {
        text-align: center;
        letter-spacing: 1px;
        padding-bottom: 5px;
        border-bottom: solid 2px #000;
    }

    .recommendations {
        margin-bottom: 40px;
    }

    article {
        height: 63px;
        margin-bottom: 20px;

        .article-text {
            max-width: 180px;
            padding: 0 8px;

            h3 {
                font-size: 13px;
                margin: 3px 0;
            }
        }
    }

    .banner-small {
        background-color: #666;
        color: #fff;
        text-align: center;
        margin-bottom: 18px;
        padding: 40px 0;
    }
}

.btn-back2top {
    float: right;
    color: #000;
    font-size: 50px;
    font-weight: 700;
    text-decoration: none;
}